<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/0b47358b-40fa-448a-acdb-afdd0929368a/resourceGroups/AspMVC/providers/Microsoft.Web/sites/Adventure</ResourceId>
    <ResourceGroup>AspMVC</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://adventure.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>adventure.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Adventure</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>False</EnableMsDeployAppOffline>
    <UserName>$Adventure</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="dbAventurasEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=serverutec.database.windows.net;Initial Catalog=dbAventuras;User ID=Administrador;Password=Ingenier@S31;Application Name=EntityFramework" Name="Data Source=serverutec.database.windows.net;Initial Catalog=dbAventuras;User ID=Administrador;Password=Ingenier@S31;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Adventure_MVC.Models.dbAventurasEntities, Adventure MVC" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="dbAventurasEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.dbAventurasEntities.csdl|res://*/Models.dbAventurasEntities.ssdl|res://*/Models.dbAventurasEntities.msl;provider=System.Data.SqlClient;provider connection string="Data Source=serverutec.database.windows.net;Initial Catalog=dbAventuras;User ID=Administrador;Password=Ingenier@S31;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>